/* MessageDisplay.css */
.message-container {
    position: absolute;
    bottom: 70px;
    left: 10px;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 8px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .message-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
  .message {
    padding: 5px;
    border-bottom: 1px solid #444;
    transition: opacity 0.3s ease; /* Smooth fading transition */
  }
  