.message-container {
    position: absolute;
    bottom: 70px;
    left: 10px;
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 8px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .message-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
  .message {
    padding: 4px;
    border-bottom: 1px solid #444444c2;
    transition: opacity 0.3s ease; /* Smooth fading transition */
    display: flex;
    flex-direction: column;
  }
  
  .sender {
    font-weight: bold;
    font-size: 0.8rem; /* Adjust font size for sender */
    font-family: 'Arial', sans-serif; /* Change font style for sender */
  }
  
  .message-text {
    font-size: 0.85rem; /* Smaller font for message text */
    font-family: 'Verdana', sans-serif; /* Change font style for text */
    word-wrap: break-word; /* Wrap long words to the next line */
    word-break: break-word; /* Break words when too long */
    white-space: pre-wrap;
  }
  